<%- include('header.ejs') %>
<p>Welcome on Board <%=name%>, go Search ur movies poster</p>
<form action="" id='search_form' onsubmit="searchButton()" method = "GET">
    Title: <input type = "text" id="title">
    <input type = "submit" value = "Search">
</form>

<form id='favourites_form' onsubmit="searchFavourites()" method = "GET">
    User's ID Favourites:
    <select id="user_id" name="user_id">
        <% data.forEach(function(data) { %>
            <option value="<%=data['user_id']%>"><%=data['user_id']%></option>
        <% })%>
    </select>
    <input type = "submit" value = "Search">
</form>

<form action="http://localhost:3000/movies/favourites/0" method="GET">
    <button>All User's Favourite List</button>
</form>

<form action="http://localhost:3000/user/list" method="GET">
    <button>User List</button>
</form>

<form action="http://localhost:3000/user/login" method="GET">
    <button>Change User</button>
</form>

<form action="http://localhost:3000/" method="GET">
    <button>Refresh Page</button>
</form>    
<%- include('footer.ejs') %>